.trails {
  width: 90vw;
  height: 100vh;
  padding: 0 5vw 3rem 5vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 2fr 1.5fr 15fr 1fr;
  grid-gap: 0.5rem;
  grid-template-areas: 'title title' 'find find' 'filter filter' 'li map' 'pagenum map';
}

.search-title {
  grid-area: title;
}

.search {
  grid-area: find;
}

.map {
  grid-area: map;
  border-radius: 1rem;
}

.trails-filter {
  grid-area: filter;
}

.trails-list {
  grid-area: li;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.4rem;
}

.list-item {
  margin: 0.3rem;
  background: white;
  text-align: center;
  border-width: 1px;
  border-color: black;
  padding: 0.2rem;
  box-shadow: 0 0 0.3rem 0.3rem black;
  /*background: rgba(255, 255, 255, 0.5);*/
  transition: all 0.5s;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'title title' 'length ascent' 'state fav';
}

.list-item:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 2vmin 2vmin gray;
}

.list-item-title {
  grid-area: title;
}

.list-item-state {
  grid-area: state;
}

.list-item-add {
  grid-area: fav;
}

.page {
  grid-area: pagenum;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.page-num {
  font-weight: 600;
  font-size: 1.3rem;
}

.page-change {
  height: 100%;
  width: 30%;
  border: none;
  background-color: greenyellow;
  color: black;
}

.page-change:hover {
  background-color: blue;
  color: white;
}