.welcome {
  background: url("Lac de Dix_thumbnail_1384x894.jpg") 100%;
  background-size: cover;
  width: 100vw;
  height: 40rem;
}

.welcome-page-container {
  width: 100vw;
  height: 5rem;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.welcome-page {
  width: auto;
  height: 2rem;
  padding: 0 3rem;
  font-size: 2rem;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* second part: list trails */
.trails {
  width: 86vw;
  height: 40rem;
  margin: 3rem 7vw 3rem 7vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-column-gap: 1rem;

}

.trails-map {
  border-radius: 10px;
}

.trails-list {
  display: flex;
  flex-direction: column;
}

.trails-list-item {

}

.footer {
  background: black;
  width: 100vw;
  height: 7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content {
  margin: 0;
  padding: 1rem 1rem;
  size: 3rem;
  color: white;
}