.title {
  color: white;
  font-size: 5rem;
  margin: 30vh 0 0 7vw;
  font-family: fantasy;
}

/* the whole trails part in there:
 * 1. trails search
 * 2. filter of trails
 * 3. trails list
 * 4. trails map
 */
.trails {
  width: 90vw;
  height: 51rem;
  padding: 0 5vw 3rem 5vw;
  /* display: grid; */
  /* grid-template-columns: 1fr 4fr; */
  /* grid-template-rows: 2fr 2fr 1.5fr 15fr 1fr; */
  /* grid-gap: 0.5rem; */
  /* grid-template-areas: 'title title' 'find find' 'filter filter' 'li map' 'pagenum map'; */
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3fr 15fr 2fr;
  grid-gap: 0.5rem;
  grid-template-areas: 'search search' 'li map' 'page map';
}

/* trails search
 * 1. title
 * 2. text container
 * 3. button to submit form
 */
.search {
  grid-area: search;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-family: fantasy;
}

.search-title {
  font-size: 3rem;
  margin-left: 25%;
}

.search-text {
  /* width: 4rem; */
  /* height: 50%; */
}

.search-value {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  font-size: 1rem;
  width: 10vw;
  height: 2rem;
  /* margin-right: 2rem; */
  border-radius: 0.3rem;
  text-align: center;
}

.search-value:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.search-btn {
  width: 4vw;
  height: 2rem;
  border-radius: 0.3rem;
  padding: 0 0;
  background-color: green;
  color: white;
  font-size: 1rem;
}

/* filter of trails. now just text
 */
 /* .filter { */
  /* grid-area: filter; */
/* } */

/* google map
 * just map
 */
.map {
  grid-area: map;
  border-radius: 1rem;
}

/* the list of trails.
 * 1. five trail cards.
 * 2. page change.
 */
.trails-list {
  grid-area: li;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 0.4rem;
}

/* trail card */
.list-item {
  margin: 0.3rem;
  background: white;
  text-align: center;
  border-width: 1px;
  border-color: black;
  padding: 0.2rem;
  box-shadow: 0 0 0.3rem 0.3rem black;
  transition: all 0.5s;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'title title' 'length ascent' 'state fav';
}

.list-item:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 2vmin 2vmin gray;
}

.list-item-title {
  grid-area: title;
}

.list-item-state {
  grid-area: state;
}

.list-item-add {
  grid-area: fav;
}

/* control page change
 * 1. two buttons to change page
 * 2. page number display
 */
.page {
  grid-area: page;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.page-num {
  font-weight: 600;
  font-size: 1.3rem;
}

.page-change {
  height: 100%;
  width: 30%;
  border: none;
  background-color: greenyellow;
  color: black;
}

.page-change:hover {
  background-color: blue;
  color: white;
}